<p id="notice"><%= notice %></p>

<h1>
  Listing Commits
  <% if @ref %>
    for Ref <%= @ref.reference %>
  <% end %>
  <% if @push %>
    for Push head_commit <%= @push.head_commit %>
  <% end %>
  for Repo <%= @repo.url %>
</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>Associated Resources</th>
      <th>Data</th>
      <th>Sha</th>
      <th>Patch Id</th>
      <th>Message</th>
      <th>Author github user</th>
      <th>Author date</th>
      <th>Committer github user</th>
      <th>Committer date</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @commits.each do |commit| %>
      <tr>
        <td>
          <p><%= link_to 'pushes', commit_pushes_path(commit) %></p>

          <p><%= link_to 'refs', commit_refs_path(commit) %></p>
        </td>
        <td>
          <div class="json">
            <%= commit.data %>
          </div>
        </td>
        <td><%= commit.sha %></td>
        <td><%= commit.patch_identifier %></td>
        <td><%= commit.message %></td>
        <td><%= commit.author_github_user_id %></td>
        <td><%= commit.author_date %></td>
        <td><%= commit.committer_github_user_id %></td>
        <td><%= commit.committer_date %></td>
        <td><%= link_to 'Show', commit %></td>
        <td><%= link_to 'Edit', edit_commit_path(commit) %></td>
        <td><%= link_to 'Destroy', commit, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<% if @push %>
  <%= link_to 'New Commit', new_repo_push_commit_path(@repo, @push) %>
<% end %>
