<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @commit.id %>
</p>

<p>
  <strong>Data:</strong>
  <%= @commit.data %>
</p>

<p>
  <strong>Sha:</strong>
  <%= @commit.sha %>
</p>

<p>
  <strong>Patch:</strong>
  <%= @commit.patch_identifier %>
</p>

<p>
  <strong>Message:</strong>
  <%= @commit.message %>
</p>

<p>
  <strong>Author github user:</strong>
  <%= @commit.author_github_user_id %>
</p>

<p>
  <strong>Author date:</strong>
  <%= @commit.author_date %>
</p>

<p>
  <strong>Committer github user:</strong>
  <%= @commit.committer_github_user_id %>
</p>

<p>
  <strong>Committer date:</strong>
  <%= @commit.committer_date %>
</p>

<%= link_to 'Edit', edit_commit_path(@commit) %> |
