<p id="notice"><%= notice %></p>

<h1>Listing Repos</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Url</th>
        <th>Hook</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @repos.each do |repo| %>
        <tr>
          <td><%= repo.url %></td>
          <td>
            <div class="json">
              <%= repo.hook %>
            </div>
          </td>
          <td><%= link_to 'Show', repo %></td>
          <td><%= link_to 'Edit', edit_repo_path(repo) %></td>
          <td><%= link_to 'Destroy', repo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to '(re)create Webhook', repo_create_hook_path(id: repo.id) %> (must be owner)</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Repo', new_repo_path %>
