<p id="notice"><%= notice %></p>

<h1>Listing Repos</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>Associated Resources</th>
      <th>Url</th>
      <th>Total Commits</th>
      <th>Github Identifier</th>
      <th>Hook</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @repos.each do |repo| %>
      <tr>
        <td>
          <p><%= link_to 'pushes', repo_pushes_path(repo) %></p>

          <p><%= link_to 'commits', repo_commits_path(repo) %></p>

          <p><%= link_to 'refs', repo_refs_path(repo) %></p>
        </td>
        <td><%= repo.url %></td>
        <td><%= repo.unordered_commits.size %></td>
        <td><%= repo.github_identifier %></td>
        <td>
          <div class="json">
            <%= repo.hook %>
          </div>
        </td>
        <td><%= link_to 'Show', repo %></td>
        <td><%= link_to 'Edit', edit_repo_path(repo) %></td>
        <td><%= link_to 'Destroy', repo, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <td>
          <p><%= link_to '(re)create Webhook', repo_create_hook_path(id: repo.id) %> (must be owner)</p>

          <p><%= link_to 'view github webhooks', "https://github.com/#{repo.user_and_repo[0]}/#{repo.user_and_repo[1]}/settings/hooks" %></p>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Repo', new_repo_path %>
