<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @repo.url %>
</p>

<p>
  <strong>Github Identifier:</strong>
  <%= @repo.github_identifier %>
</p>

<p>
  <strong>Hook:</strong>
  <%= @repo.hook %>
</p>

<p>
  <%= link_to '(re)create Webhook', repo_create_hook_path(id: @repo.id) %> (must be owner)
</p>

<%= link_to 'Edit', edit_repo_path(@repo) %> |
<%= link_to 'Back', repos_path %>
