<p id="notice"><%= notice %></p>

<h1>Listing Deploys</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Uri</th>
      <th>Extract pattern</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @deploys.each do |deploy| %>
      <tr>
        <td><%= deploy.name %></td>
        <td><%= deploy.uri %></td>
        <td><%= deploy.extract_pattern %></td>
        <td><%= link_to 'Show', deploy %></td>
        <td><%= link_to 'Edit', edit_deploy_path(deploy) %></td>
        <td><%= link_to 'Destroy', deploy, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Deploy', new_deploy_path %>
