<%= form_for(@deploy_commit) do |f| %>
  <% if @deploy_commit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deploy_commit.errors.count, "error") %> prohibited this deploy_commit from being saved:</h2>

      <ul>
      <% @deploy_commit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :deployed_sha %><br>
    <%= f.text_field :deployed_sha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
