<div>
  <ul>
    <li>
      <%= link_to "Home", root_path, data: {no_turbolink: true} %>
    </li>
    <li>
      Admin
      <ul>
        <li>
          <%= link_to "Authorize App", github_authorize_path, data: {no_turbolink: true} %>
        </li>
      </ul>
    </li>
    <li>
      Resources
      <ul>
        <li>
          <%= link_to "Repos", repos_path %>
        </li>
        <li>
          Pushes (go thru Repo)
        </li>
        <li>
          Commits (go thru Repo)
        </li>
        <li>
          Refs (go thru Repo)
        </li>
        <li>
          ParentCommits (go thru Commits)
        </li>
        <li>
          <%= link_to "External Links", external_links_path %>
        </li>
        <li>
          <%= link_to "External Link Repos", external_link_repos_path %>
        </li>
        <li>
          <%= link_to "External Link Commits", elcs_path %>
        </li>
      </ul>
    </li>
    <li>
      Reports
      <ul>
        <li>
          <%= link_to "External Links", reports_external_links_path %>
        </li>
        <li>
          External Link Ref Commits:
          <ul>
            <% ExternalLink.all.each do |external_link| %>
              <li>
                <%= link_to external_link.description, reports_external_link_ref_commits_path(external_link_id: external_link.id) %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
