<%= form_for(@parent_commit) do |f| %>
  <% if @parent_commit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parent_commit.errors.count, "error") %> prohibited this parent_commit from being saved:</h2>

      <ul>
      <% @parent_commit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :commit_id %><br>
    <%= f.number_field :commit_id %>
  </div>
  <div class="field">
    <%= f.label :sha %><br>
    <%= f.text_field :sha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
