<p id="notice"><%= notice %></p>

<h1>Listing Associated Parent Commits for Child Commit <%= @commit.sha %> in repo <%= @commit.repo.url %></h1>


<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Associated Parent Commit</th>
      <th>Child Commit</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @parent_commits.each do |parent_commit| %>
      <tr>
        <td><%= parent_commit.commit_id %></td>
        <td>
          <p><%= link_to parent_commit.sha, commit_path(parent_commit.commit) %></p>
        </td>
        <td>
          <p><%= link_to parent_commit.child_commit.sha, commit_path(parent_commit.child_commit) %></p>
        </td>
        <td><%= link_to 'Show', commit_parent_commit_path(@commit, parent_commit) %></td>
        <td><%= link_to 'Destroy', commit_parent_commit_path(@commit, parent_commit), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>
