<p id="notice"><%= notice %></p>

<h1>Listing External Links</h1>

<table>
  <thead>
    <tr>
      <th>Reports</th>
      <th>Description</th>
      <th>Extract pattern</th>
      <th>Uri template</th>
      <th>Replace pattern</th>
      <th>Commits Processed Thru</th>
      <th>Repos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @external_links.each do |external_link| %>
      <tr>
        <td>
          <%= link_to "ExternalLink Ref Commits", reports_external_link_ref_commits_path(external_link_id: external_link.id) %>
        </td>
        <td><%= external_link.description %></td>
        <td><%= external_link.extract_pattern %></td>
        <td><%= external_link.uri_template %></td>
        <td><%= external_link.replace_pattern %></td>
        <td><%= external_link.commits_processed_thru %></td>
        <td><%= external_link.repos.map{|repo| repo.url}.join(', ') %></td>
        <td><%= link_to 'Show', external_link %></td>
        <td><%= link_to 'Edit', edit_external_link_path(external_link) %></td>
        <td><%= link_to 'Destroy', external_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New External link', new_external_link_path %>
