<%= form_for(@external_link_commit) do |f| %>
  <% if @external_link_commit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@external_link_commit.errors.count, "error") %> prohibited this external_link_commit from being saved:</h2>

      <ul>
      <% @external_link_commit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :external_link_id %><br>
    <%= f.number_field :external_link_id %>
  </div>
  <div class="field">
    <%= f.label :commit_id %><br>
    <%= f.number_field :commit_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
