<p id="notice"><%= notice %></p>

<h1>Listing Refs for Repo <%= @repo.url %></h1>

<table>
  <thead>
    <tr>
      <th>Associated Resources</th>
      <th>Reference</th>
      <th>Repo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @refs.each do |ref| %>
      <tr>
        <td>
          <p><%= link_to 'commits', ref_commits_path(ref.id) %></p>
        </td>
        <td><%= ref.reference %></td>
        <td><%= ref.repo_id %></td>
        <td><%= link_to 'Show', ref %></td>
        <td><%= link_to 'Edit', edit_ref_path(ref) %></td>
        <td><%= link_to 'Destroy', ref, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ref', new_repo_ref_path(@repo) %>
