<p id="notice"><%= notice %></p>

<h1>Reports - External Links</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>Reports</th>
      <th>Description</th>
      <th>Extract pattern</th>
      <th>Uri template</th>
      <th>Replace pattern</th>
    </tr>
    </thead>

    <tbody>
    <% @external_links.each do |external_link| %>
      <tr>
        <td>
          <%= link_to "ExternalLink Ref Commits", reports_external_link_ref_commits_path(external_link_id: external_link.id) %>
        </td>
        <td><%= external_link.description %></td>
        <td><%= external_link.extract_pattern %></td>
        <td><%= external_link.uri_template %></td>
        <td><%= external_link.replace_pattern %></td>
        <td><%= external_link.commits_processed_thru %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
